<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>index</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script type="text/javascript"
	src="../js/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<form class="form-horizontal" action="/userInfo/userRegister"
					method="post">
					<div class="control-group">
						<label class="control-label">昵称</label>
						<div class="controls">
							<input id="signupInputUserName" type="text" name="username" required="required" placeholder="昵称" data-parsley-required-message="请输入昵称！"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">邮箱</label>
						<div class="controls">
							<input id="signupInputEmail" type="email" name="email" required="required" placeholder="您的邮箱" data-parsley-required-message="请输入邮箱！" data-parsley-type-message="请输入正确的邮箱格式"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">密码</label>
						<div class="controls">
							<input id="signupInputPassword" type="password" name="password" required="required" placeholder="密码" data-parsley-required-message="请输入密码！" pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/"
							data-parsley-pattern-message="请输入6-20位数字字母组合！"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">角色</label>
						
						<div class="controls">
							<input name="role" type="text" value="1" disabled="true"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn">注册</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>